@font-face {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: normal;
  src: local("Barlow Condensed"), url("fonts/BarlowCondensed-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Zing Rust Demo";
  font-style: normal;
  font-weight: normal;
  src: local("Zing Rust Demo"), url("fonts/ZingRustDemo-Base.woff") format("woff");
  font-display: swap;
}